*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    border: solid 1px red;
}

header h1{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    color: #E74272;
    margin: 20px 0px 30px 0px;
}

.container{
    width: 900px;
    margin: 0 auto;
}

.container p{
    text-align: center;
}